# gradle
.gradle/
build/
out/
classes/
run/
runs/

# eclipse
*.launch

# idea
.idea/
*.iml
*.ipr
*.iws

# vscode
.settings/
.vscode/
bin/
.classpath
.project
.factorypath

# macos
*.DS_Store

# java
hs_err_*.log
replay_*.log
*.hprof
*.jfr

# Eclipse JDT LS
workspace/
